/* =============== COLORS =============== */
:root {
  --background-color: #100E17;
  --primary-color: #17141D;
  --accent-color: #FF5711;
  --attenuate-color: #e44079;
  --calendar-color: #00a8ee;
  --color-border: #312D3C;
  --text-color: #f5f5f5;
  --shadow-color: #000000;
}

.light {
  --background-color: #dddddd;
  --primary-color: #f5f5f5;
  --accent-color: #FF5711;
  --attenuate-color: #E52F6F;
  --calendar-color: #00a8ee;
  --color-border: #dadada;
  --text-color: #121212;
  --shadow-color: #b4b4b4;
}

/* =============== MIXINS =============== */
/* =============== ANIMATIONS =============== */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(135deg, var(--accent-color), var(--attenuate-color));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--attenuate-color);
}

/* =============== MAIN CODE =============== */
* {
  font-family: "Titillium Web", "Roboto";
  font-size: 1.6rem;
  color: var(--text-color);
  padding: 0;
  margin: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: #DEE1E6;
}

*::selection {
  background-color: #DEE1E6;
}

* img {
  max-width: 100%;
}

h1, h2 {
  font-family: "Saira Semi Condensed";
  font-weight: 500;
  isolation: isolate;
}

i {
  color: var(--accent-color);
  isolation: isolate;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: normal;
  padding: 2vh;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.fa-calendar-alt {
  color: var(--calendar-color);
}

.switch-mode {
  position: fixed;
  left: 3.5%;
  bottom: 3.5%;
  font-size: 2rem;
  z-index: 100;
  padding: 5px 7px;
  border-radius: 50%;
  background-color: var(--color-border);
  cursor: pointer;
}

/* ----------- ARROW MOVE TO TOP ----------- */
#arrow-up {
  position: fixed;
  bottom: 3.5%;
  right: 3.5%;
  z-index: 50;
}

#arrow-up i {
  font-size: 3.5rem;
  color: var(--accent-color);
  text-shadow: 1px 1px var(--shadow-color);
}

.main-container {
  margin: auto;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-container .left-container {
  width: 33.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-container .right-container {
  width: 63.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.profile-section {
  width: 100%;
  background-color: var(--primary-color);
  -webkit-box-shadow: 0px 0px 10px 2.5px var(--shadow-color);
          box-shadow: 0px 0px 10px 2.5px var(--shadow-color);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.profile-section .frame {
  width: 100%;
  padding-top: 65%;
  /* same ratio picture */
  margin-bottom: 10px;
  position: relative;
  background-color: var(--color-border);
}

.profile-section .frame__picture {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.profile-section .frame__name {
  font-size: 2.5rem;
  color: #121212;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.profile-section .personal-data, .profile-section .skills-container, .profile-section .language-container, .profile-section .hobbies-container {
  padding: 2% 5%;
}

.profile-section .personal-data__field {
  padding: 15px 0 10px;
  vertical-align: middle;
  word-break: break-all;
}

.profile-section .personal-data i {
  width: 35px;
}

.profile-section .skills-container .main-title-left, .profile-section .language-container .main-title-left, .profile-section .hobbies-container .main-title-left {
  font-size: 2.1rem;
  font-weight: 600;
  padding: 12px 0;
  margin: -5px 0 15px;
  border-bottom: 1px solid var(--color-border);
}

.profile-section .skills-container .main-title-left i, .profile-section .language-container .main-title-left i, .profile-section .hobbies-container .main-title-left i {
  width: 35px;
  font-size: 2.2rem;
}

.profile-section .skills-container .skill, .profile-section .skills-container .language, .profile-section .skills-container .hobby, .profile-section .language-container .skill, .profile-section .language-container .language, .profile-section .language-container .hobby, .profile-section .hobbies-container .skill, .profile-section .hobbies-container .language, .profile-section .hobbies-container .hobby {
  padding: 10px 0;
}

.profile-section .skills-container .skill__bar, .profile-section .skills-container .language__bar, .profile-section .skills-container .hobby__bar, .profile-section .language-container .skill__bar, .profile-section .language-container .language__bar, .profile-section .language-container .hobby__bar, .profile-section .hobbies-container .skill__bar, .profile-section .hobbies-container .language__bar, .profile-section .hobbies-container .hobby__bar {
  width: 100%;
  height: 18px;
  background-color: var(--color-border);
  margin-top: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 1px var(--shadow-color);
          box-shadow: 0px 0px 5px 1px var(--shadow-color);
}

.profile-section .skills-container .skill__bar--inside, .profile-section .skills-container .language__bar--inside, .profile-section .skills-container .hobby__bar--inside, .profile-section .language-container .skill__bar--inside, .profile-section .language-container .language__bar--inside, .profile-section .language-container .hobby__bar--inside, .profile-section .hobbies-container .skill__bar--inside, .profile-section .hobbies-container .language__bar--inside, .profile-section .hobbies-container .hobby__bar--inside {
  width: 80%;
  height: 100%;
  border-radius: 3px;
  background: linear-gradient(135deg, var(--accent-color), var(--attenuate-color));
  -webkit-box-shadow: 0px 0px 5px 1px var(--shadow-color);
          box-shadow: 0px 0px 5px 1px var(--shadow-color);
  position: relative;
}

.profile-section .skills-container .skill__bar--inside div, .profile-section .skills-container .language__bar--inside div, .profile-section .skills-container .hobby__bar--inside div, .profile-section .language-container .skill__bar--inside div, .profile-section .language-container .language__bar--inside div, .profile-section .language-container .hobby__bar--inside div, .profile-section .hobbies-container .skill__bar--inside div, .profile-section .hobbies-container .language__bar--inside div, .profile-section .hobbies-container .hobby__bar--inside div {
  position: absolute;
  bottom: 27.5px;
  right: 0%;
}

.profile-section .skills-container .skill i, .profile-section .skills-container .language i, .profile-section .skills-container .hobby i, .profile-section .language-container .skill i, .profile-section .language-container .language i, .profile-section .language-container .hobby i, .profile-section .hobbies-container .skill i, .profile-section .hobbies-container .language i, .profile-section .hobbies-container .hobby i {
  width: 35px;
}

.work-section, .formation-section {
  width: 100%;
  padding: 3.5%;
  background-color: var(--primary-color);
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 2.5px var(--shadow-color);
          box-shadow: 0px 0px 10px 2.5px var(--shadow-color);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.work-section .fa-download, .formation-section .fa-download {
  float: right;
  margin: 15px;
  font-size: 2rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.work-section .fa-download:hover, .formation-section .fa-download:hover {
  color: var(--calendar-color);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.work-section .main-title-right, .formation-section .main-title-right {
  font-size: 3rem;
  font-family: 600;
}

.work-section .main-title-right i, .formation-section .main-title-right i {
  width: 50px;
  font-size: 2.5rem;
}

.work-section .work-container, .work-section .formation-container, .formation-section .work-container, .formation-section .formation-container {
  padding: 2.5% 0;
  border-bottom: 1px solid var(--color-border);
}

.work-section .work-container h1, .work-section .work-container h2, .work-section .work-container p, .work-section .formation-container h1, .work-section .formation-container h2, .work-section .formation-container p, .formation-section .work-container h1, .formation-section .work-container h2, .formation-section .work-container p, .formation-section .formation-container h1, .formation-section .formation-container h2, .formation-section .formation-container p {
  display: block;
  margin: 5px 0;
}

.work-section .work-container h1, .work-section .formation-container h1, .formation-section .work-container h1, .formation-section .formation-container h1 {
  font-size: 2.0rem;
  color: var(--accent-color);
}

.work-section .work-container h1 i, .work-section .formation-container h1 i, .formation-section .work-container h1 i, .formation-section .formation-container h1 i {
  padding: 0 10px;
  color: var(--text-color);
}

.work-section .work-container h1 span, .work-section .formation-container h1 span, .formation-section .work-container h1 span, .formation-section .formation-container h1 span {
  font-size: 1.6rem;
  color: var(--attenuate-color);
  float: right;
  display: block;
  margin-top: 7.5px;
}

.work-section .work-container h2, .work-section .formation-container h2, .formation-section .work-container h2, .formation-section .formation-container h2 {
  font-size: 1.8rem;
  font-weight: normal;
  color: var(--calendar-color);
}

.work-section .work-container p, .work-section .formation-container p, .formation-section .work-container p, .formation-section .formation-container p {
  font-size: 1.5rem;
}

.work-section .work-container i, .work-section .formation-container i, .formation-section .work-container i, .formation-section .formation-container i {
  width: 30px;
}

.work-section .border-last, .formation-section .border-last {
  border-bottom: 0px;
}

.formation-section {
  margin-top: 2%;
}

@media all and (max-width: 650px) {
  .main-container {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-container .left-container {
    width: 97.5%;
    margin-bottom: 2%;
  }
  .main-container .right-container {
    width: 97.5%;
  }
  .fa-download {
    position: fixed;
    top: 1.5%;
    right: 3.5%;
    z-index: 50;
  }
}
/*# sourceMappingURL=style.css.map */