/* =============== COLORS =============== */

// color dark mode
:root {
    --background-color: #100E17;
    --primary-color: #17141D;
    --accent-color: #FF5711;
    --attenuate-color: #e44079;
    --calendar-color: #00a8ee;
    --color-border: #312D3C;
    --text-color: #f5f5f5;
    --shadow-color: #000000;
}

.light {
    --background-color: #dddddd;
    --primary-color: #f5f5f5;
    --accent-color: #FF5711;
    --attenuate-color: #E52F6F;
    --calendar-color: #00a8ee;
    --color-border: #dadada;
    --text-color: #121212;
    --shadow-color: #b4b4b4;
}

/* =============== MIXINS =============== */

@mixin gradient-background {
    background: linear-gradient(135deg, var(--accent-color),var(--attenuate-color));
}

@mixin text-gradient {
    background: linear-gradient(135deg, var(--accent-color),var(--attenuate-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin flex($flow, $justify, $align) {
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align;
}

/* =============== ANIMATIONS =============== */

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    @include gradient-background;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--attenuate-color); 
}

/* =============== MAIN CODE =============== */

* {
    font-family: "Titillium Web", "Roboto";
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;

    &::selection {
        background-color: #DEE1E6;
    }
    img {
        max-width: 100%;
    }
}

h1, h2 {
    font-family: "Saira Semi Condensed";
    font-weight: 500;
    isolation: isolate;
}

i {
    color: var(--accent-color);
    isolation: isolate;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    background-color: var(--background-color);
    color: var(--text-color);
    font-weight: normal;
    padding: 2vh;
    transition: 0.5s all ease;
}

.fa-calendar-alt {
    color: var(--calendar-color);
}

.switch-mode {
    position: fixed;
    left: 3.5%;
    bottom: 3.5%;
    font-size: 2rem;
    z-index: 100;
    padding: 5px 7px;
    border-radius: 50%;
    background-color: var(--color-border);
    cursor: pointer;
}

/* ----------- ARROW MOVE TO TOP ----------- */
#arrow-up {
    position: fixed;
    bottom: 3.5%;
    right: 3.5%;
    z-index: 50;
    i {
        font-size: 3.5rem;
        color: var(--accent-color);
        text-shadow: 1px 1px var(--shadow-color);
    }
}

.main-container {
    margin: auto;
    max-width: 1400px;
    @include flex(row wrap, space-around, flex-start);

    .left-container {
        width: 33.5%;
        @include flex(row wrap, flex-start, flex-start);
    }
    
    .right-container {
        width: 63.5%;
        @include flex(column wrap, space-between, flex-start);
    }
}

.profile-section {
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 10px 2.5px var(--shadow-color);
    transition: 0.5s all ease;

    .frame {
        width: 100%;
        padding-top: 65%;   /* same ratio picture */
        margin-bottom: 10px;
        position: relative;
        background-color: var(--color-border);

        &__picture {
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            overflow: hidden;
        }

        &__name {
            font-size: 2.5rem;
            color: #121212;
            position: absolute;
            bottom: 5%;
            left: 5%;
        }
    }

    .personal-data, .skills-container, .language-container, .hobbies-container {
        padding: 2% 5%;
    }

    .personal-data {

        &__field {
            padding: 15px 0 10px;
            vertical-align: middle;
            word-break: break-all;
        }
        i {
            width: 35px;
        }
    }

    .skills-container, .language-container, .hobbies-container {

        .main-title-left {
            font-size: 2.1rem;
            font-weight: 600;
            padding: 12px 0;
            margin: -5px 0 15px;
            border-bottom: 1px solid var(--color-border);
            i {
                width: 35px;
                font-size: 2.2rem;
            }
        }

        .skill, .language, .hobby {
            padding: 10px 0;
            // background-color: $accent-color;

            &__bar {
                width: 100%;
                height: 18px;
                background-color: var(--color-border);
                margin-top: 10px;
                border-radius: 3px;
                box-shadow: 0px 0px 5px 1px var(--shadow-color);

                &--inside {
                    width: 80%;
                    height: 100%;
                    border-radius: 3px;
                    @include gradient-background;
                    box-shadow: 0px 0px 5px 1px var(--shadow-color);
                    position: relative;

                    // percent
                    div {
                        position: absolute;
                        bottom: 27.5px;
                        right: 0%;
                    }
                }
            }
            i {
                width: 35px;
            }
        }
    }
}

.work-section, .formation-section {
    width: 100%;
    padding: 3.5%;
    background-color: var(--primary-color);
    position: relative;
    box-shadow: 0px 0px 10px 2.5px var(--shadow-color);
    transition: 0.5s all ease;

    // download cv
    .fa-download {
        float: right;
        margin: 15px;
        font-size: 2rem;
        transition: 0.5s ease;

        &:hover {
            color: var(--calendar-color);
            transition: 0.5s ease;
        }
    }

    .main-title-right {
        font-size: 3rem;
        font-family: 600;
        i {
            width: 50px;
            font-size: 2.5rem;
        }
    }

    .work-container, .formation-container {
        padding: 2.5% 0;  
        border-bottom: 1px solid var(--color-border);
        h1, h2, p {
            display: block;
            margin: 5px 0;
        }
        h1 {
            font-size: 2.0rem;
            color: var(--accent-color);
            i {
                padding: 0 10px;
                color: var(--text-color);
            }
            span {
                font-size: 1.6rem;
                color: var(--attenuate-color);
                float: right;
                display: block;
                margin-top: 7.5px;
            }
        }
        
        h2 {
            font-size: 1.8rem;
            font-weight: normal;
            color: var(--calendar-color);
        }
        p {
            font-size: 1.5rem;
        }
        i {
            width: 30px;
        }
    }

    // to take off border bottom if last container
    .border-last {
        border-bottom: 0px;
    }
}

.formation-section {
    margin-top: 2%;
}

@media all and (max-width: 650px) {

    .main-container {
        margin: auto;
        @include flex(column wrap, space-around, center);
    
        .left-container {
            width: 97.5%;
            margin-bottom: 2%;
        }
        
        .right-container {
            width: 97.5%;
        }
    }

    .fa-download {
        position: fixed;
        top: 1.5%;
        right: 3.5%;
        z-index: 50;
    }
}