/* =============== FONTS =============== */

@font-face {
    font-family: 'KoHo';
    src: url('../docs/font/KoHo/KoHo-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'KoHo';
    font-weight: bold;
    src: url('../docs/font/KoHo/KoHo-Bold.ttf') format('truetype'),
}
@font-face {
    font-family: 'KoHo';
    font-weight: 600;
    src: url('../docs/font/KoHo/KoHo-SemiBold.ttf') format('truetype'),
}
@font-face {
    font-family: 'KoHo';
    font-style: italic;
    src: url('../docs/font/KoHo/KoHo-Italic.ttf') format('truetype'),
}
@font-face {
    font-family: 'Raleway';
    src: url('../docs/font/Raleway/Raleway-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'Raleway';
    font-style: 600;
    src: url('../docs/font/Raleway/Raleway-SemiBold.ttf') format('truetype'),
}
@font-face {
    font-family: 'Teko';
    src: url('../docs/font/Teko/Teko-SemiBold.ttf') format('truetype'),
}
@font-face {
    font-family: 'Cairo';
    font-weight: normal;
    src: url('../docs/font/Cairo/Cairo-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'Cairo';
    font-weight: 600;
    src: url('../docs/font/Cairo/Cairo-SemiBold.ttf') format('truetype'),
}
@font-face {
    font-family: 'Saira';
    font-weight: normal;
    src: url('../docs/font/Saira/SairaCondensed-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'PTSans';
    font-weight: normal;
    src: url('../docs/font/PTSans/PTSans-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'Titillium';
    font-weight: normal;
    src: url('../docs/font/Titillium/TitilliumWeb-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../docs/font/Poppins/Poppins-SemiBold.ttf') format('truetype'),
}
@font-face {
    font-family: 'Poppins';
    font-weight: medium;
    src: url('../docs/font/Poppins/Poppins-Medium.ttf') format('truetype'),
}

/* =============== COLORS =============== */

// backgrounds
$dark-grey: #100E17;
$grey-bg: #17141D;

// selection text
$selection-grey: #DEE1E6;

// font color
$light-white: #f5f5f5;

// border inputs
$grey-border: #312D3C;

// background inputs
$grey-input: #201C29;

// marked text
$color-marked-text: #F24848;

// placeholder color
$color-placeholder: #909090;

// others
$orange-pure: #FF5711;
$pink-pure: #E52F6F;

/* =============== MIXINS =============== */

@mixin gradient-background {
    background: linear-gradient(135deg, $orange-pure,$pink-pure);
}

@mixin text-gradient {
    background: linear-gradient(135deg, $orange-pure,$pink-pure);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* =============== ANIMATIONS =============== */

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    @include gradient-background;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $pink-pure; 
}

/* =============== MAIN CODE =============== */

* {
    font-family: "Titillium", "KoHo", "Arial";
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    &::selection {
        background-color: $selection-grey;
    }
    img {
        max-width: 100%;
    }
}

html {
    font-size: 62.5%;
}

