/* =============== FONTS =============== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@font-face {
    font-family: "Segoe UI";
    src: url("../font/Segoe UI/segoeuisl.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Segoe UI";
    src: url("../font/Segoe UI/segoeui.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Segoe UI";
    src: url("../font/Segoe UI/seguisb.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Segoe UI";
    src: url("../font/Segoe UI/segoeuib.ttf") format("truetype");
    font-weight: 700;
}

/* =============== COLORS =============== */

:root {
    --background-dark: #1F1E1D;
    --background-light: #f5f5f5;
    --font-dark: #111111;
    --font-light: #fff;
    --font-grey: #cecece;
    --material-color: #272628;
    --material-lighter: #323135;
    --material-grey: #9C9C9C;
    --orange-pure: #F84525;
    --orange-opacity: rgba(248, 69, 37, 0.5);
    --shadow-dark: #000000;
    --shadow-light: #cecece;
    --light-grey: #F2F2F2;
}

/* =============== ANIMATIONS =============== */

@keyframes slideDownIn {
    from {
        opacity: 0.2;
        visibility: hidden;
        transform: translate3d(0, 35px, 0);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);
    }
}

// order apparition
@for $i from 1 through 10 {
    .slide-in-#{$i} {
        animation: slideDownIn 0.5s ease-out #{$i*0.05}s forwards;
    }
}

@keyframes progress-bar-load {
    from {
        width: 0;
        transform: translate3d(0, 0, 0);
    }
}

/* =============== MIXINS =============== */

@mixin font($size, $weight, $color, $letter-spacing, $text-transform) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    letter-spacing: $letter-spacing;
    text-transform: $text-transform;
}

@mixin flex($flow, $justify, $align) {
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align;
}

/* =============== ANIMATIONS =============== */

/* width */
::-webkit-scrollbar {
    width: 5px;
    display: none;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
    display: none;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    display: none;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--attenuate-color); 
    display: none;
}

/* =============== MAIN CODE =============== */

* {
    font-family: "Segoe UI";
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
    text-decoration: none;
    letter-spacing: 0.5px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    &::selection {
        background: #DEE1E6;
    }
    img {
        max-width: 100%;
    }
}

h1, h2, .main-title-left, h1 span {
    color: var(--font-light);
    font-weight: 600;
}

.main-title-right {
    color: var(--font-dark);
    font-weight: 600;
}

html {
    font-size: 62.5%;   /* 1 rem = 10px */
    overflow-x :hidden;
}

body {
    font-size: 1.4rem;
    background: var(--material-lighter);
    color: var(--font-grey);
    font-weight: normal;
    padding: 2vh;
    transition: 0.5s all ease;
}

.light-page {
    background: var(--font-light);
    color: var(--font-dark);
}

.shadow-page {
    box-shadow: 0px 0px 15px 2px var(--shadow-dark);
}

/* ----------- PROGRESS BAR ----------- */
#progress{
    width: 4px;
    height: 0px;
    max-height: 100vh;
	position: fixed;
	top: 0; right: 0;
    background: var(--orange-pure);
    z-index: 50;
    transform: translate3d(0, 0, 0);
}

/* ----------- ARROW MOVE TO TOP ----------- */
#arrow-up {
    position: fixed;
    bottom: 3.5%; right: 3.5%;
    z-index: 50;
    i {
        font-size: 3.5rem;
        color: var(--orange-pure);
        text-shadow: 1px 1px var(--shadow-dark);
    }
}

.main-container {
    margin: auto;
    max-width: 1400px;
    position: relative;
    @include flex(row wrap, space-around, flex-start);

    .left-container {
        width: 35%;
        @include flex(row wrap, flex-start, flex-start);
    }
    
    .right-container {
        width: 65%;
        @include flex(column wrap, space-between, flex-start);
    }
}

.profile-section {
    width: 100%;
    transition: 0.5s all ease;
    background: var(--background-dark);
}

.frame {
    width: 100%;
    // padding-top: 92.5%;   /* same ratio picture */
    height: 448px;
    position: relative;
    background: var(--material-lighter);
    // profile picture
    &__picture {
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        overflow: hidden;
    }
    // banner in profile
    &__banner {
        width: 100%;
        height: 25%;
        padding: 18px 10% 15px;
        position: absolute;
        left: 0; bottom: 0; right: 0;
        background: var(--orange-opacity);

        .frame__title {
            @include font(3rem, 500, var(--font-light), 2px, uppercase);
            vertical-align: middle;
        }
    }
}

// container of my informations
.left-section {
    padding: 15px 0 15px 0;
    // titles of left categories
    .main-title-left {
        @include font(2.2rem, bold, var(--orange-pure), 4px, uppercase);
        padding: 12px 0;
        margin: 0 10% 15px 0;
        border-bottom: 2.5px solid var(--orange-opacity);
        text-align: right;
        // icons of title
        i {
            width: 35px;
            font-size: 2.25rem;
        }
    }
    .left-inner, a {
        @include font(1.7rem, normal, var(--font-grey), 0.5px, normal);
        vertical-align: middle;
        text-align: right;
        word-break: break-all;
        padding: 0px 10% 0px 10%;
        // bold names
        em {
            font-weight: 500;
            font-style: normal;
        }
        a {
            padding: 15px 0 15px 0;
        }
        // CONTACT
        .contact__field {
            padding: 15px 0 15px 0;

            &:hover {
                color: var(--font-light);
                transition: 0.4s ease;
            }
        }
        // SKILLS
        .skill {
            @include flex(nowrap, space-between, center);
            font-weight: 600;
            padding-top: 30px;
            transition: 0.4s ease;
            &:hover {
                color: var(--font-light);
                transition: 0.4s ease;
            }
            // container bar
            &__bar {
                width: 60%;
                height: 25px;
                background: var(--material-lighter);
                position: relative;
                border-radius: 3px;
                box-shadow: 0px 0px 5px 1px var(--shadow-dark);
                // bar inside
                &--inside {
                    height: 100%;
                    width: 1px;
                    border-radius: 3px;
                    background: var(--material-color);
                    box-shadow: 0px 0px 2.5px 1px var(--shadow-dark);
                    animation: progress-bar-load 1.5s ease 0s forwards;
                    transform: translate3d(0, 0, 0);
                    overflow: hidden;
                    // after for animation progress bar
                    &::after {
                        display: block;
                        content: "";
                        height: 100%;
                        width: 100%;
                        background: linear-gradient(135deg,  var(--material-color), var(--orange-pure));
                    }
                    // percent
                    div {
                        display: none;
                    }
                }
            }
        }
        // HOBBIES
        .hobby__field {
            padding: 15px 20px;
        }
    }
}

.formation-container {
    padding-bottom: 25px;
    margin-top: 10px;
    text-align: right;
    word-break: break-all;
    background: var(--material-lighter);
    
    .formation-title {
        @include font(2.2rem, bold, var(--material-color), 4px, uppercase);
        padding: 20px 10% 20px 0;
        margin-bottom: 25px;
        background: var(--orange-pure);
    }

    .formation__field {
        @include font(1.7rem, normal, var(--font-grey), 0.5px, normal);
        padding: 25px 10% 25px 5%;
        em {
            font-weight: 500;
            font-style: normal;
        }
    }
}

.right-header {
    width: 100%;
    height: 448px;
    position: relative;
    background: var(--background-light);
    // display: flex;
    // flex-flow: column;

    .right-header-top {
        padding: 5% 0 10% 5%;
    }
    h1 {
        @include font(5rem, bold, var(--font-dark), 3px, normal);
        display: block;
        margin: 12px 20px 12px;
    }
    h2 {
        @include font(2.5rem, 500, var(--orange-pure), 3.5px, uppercase);
    }
    p {
        @include font(1.6rem, 500, var(--font-dark), 1px, normal);
        display: block;
        margin: 12px 20px 12px;
    }
    .subtitle {
        width: 100%;
        padding: 15px 20px 15px;
        margin-top: 15px;
        background: var(--material-color);
    }

    .right-header-banner {
        width: 100%;
        height: 25%;
        padding: 18px calc(5% + 12px) 15px;
        position: absolute;
        left: 0; bottom: 0; right: 0;
        background: var(--orange-opacity);

        span {
            @include font(1.6rem, 500, var(--font-dark), 1px, normal);
            vertical-align: middle;
        }
    }        
}

.work-section {
    width: 100%;
    // padding: 5%;
    transition: 0.5s all ease;
}



// .work-section, .formation-section {
//     width: 100%;
//     padding: 5%;
//     transition: 0.5s all ease;

//     // download cv
//     .fa-download {
//         float: right;
//         margin: 7.5px;
//         font-size: 2rem;
//         color: var(--orange-pure);
//         transition: 0.5s ease;
//         position: relative;
//         z-index: 50;
        
//         &:hover {
//             color: var(--material-color);
//             transition: 0.5s ease;
//         }
//     }

//     // big title experiences / formations
//     .main-title-right {
//         text-transform: uppercase;
//         font-size: 2.4rem;
//         display: block;
//         // icon
//         i {
//             width: 50px;
//             font-size: 2.5rem;
//         }
//     }

//     .work-container, .formation-container {
//         padding: 2.5% 0;  
//         border-bottom: 1px solid var(--material-color);
//         letter-spacing: 0.2px;

//         h1, h2, p {
//             display: block;
//             margin: 5px 0;
//         }
//         // titles of works / formations
//         h1 {
//             font-size: 2rem;
//             color: var(--orange-pure);
//             // titles with links
//             a {
//                 font-weight: 600;
//                 font-size: 2rem;
//                 color: var(--orange-pure);
//             }
//             // redirections
//             i {
//                 font-size: 1.8rem;
//                 color: var(--calendar-color);
//                 padding: 0 10px;
//             }
//         }
//         // date with calendar icon
//         h2 {
//             font-size: 1.5rem;
//             font-weight: 700;
//             color: var(--calendar-color);
//         }
//         // languages used
//         div {
//             text-transform: uppercase;
//             font-size: 1.3rem;
//             color: var(--font-light);
//             background: var(--material-color);
//             border-radius: 4px;
//             padding: 5px 8px;            
//             float: right;
//             margin-top: -5px;
//             margin-left: 5px;

//             @media all and (max-width: 650px) {
//                 float: none;
//                 display: inline-block;
//                 margin: 5px 5px 5px 0;
//             }
//         }
//         i {
//             width: 27.5px;
//         }
//         // description
//         p {
//             font-size: 1.5rem;
//         }
        
//     }

//     // to take off border bottom if last container
//     .border-last {
//         border-bottom: 0px;
//         padding-bottom: 0;
//     }
// }

// .formation-section {
//     margin-top: 2%;
// }

// mobile display
@media all and (max-width: 650px) {

    .main-container {
        margin: auto;
        @include flex(column wrap, space-around, center);
    
        .left-container {
            width: 97.5%;
            margin-bottom: 2%;
        }
        
        .right-container {
            width: 97.5%;
        }
    }

    // fixed button download in mobile media
    .work-section .fa-download {
        position: fixed;
        top: 1.5%;
        right: 3.5%;
    }
}