/* =============== COLORS =============== */
/* =============== MIXINS =============== */
/* =============== ANIMATIONS =============== */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(135deg, #FF5711, #e44079);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e44079;
}

/* =============== MAIN CODE =============== */
* {
  font-family: "Titillium Web", "Roboto";
  font-size: 1.6rem;
  color: #f5f5f5;
  padding: 0;
  margin: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: break-all;
}

*::-moz-selection {
  background-color: #DEE1E6;
}

*::selection {
  background-color: #DEE1E6;
}

* img {
  max-width: 100%;
}

h1, h2 {
  font-family: "Saira Semi Condensed";
  font-weight: 500;
}

i {
  color: #FF5711;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  background-color: #100E17;
  color: #f5f5f5;
  font-weight: normal;
  padding: 2vh;
}

.fa-calendar-alt {
  color: #11B9FF;
}

.main-container {
  margin: auto;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-container .left-container {
  width: 33.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-container .right-container {
  width: 63.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.profile-section {
  width: 100%;
  background-color: #17141D;
  -webkit-box-shadow: 0px 0px 10px 2.5px #000000;
          box-shadow: 0px 0px 10px 2.5px #000000;
}

.profile-section .frame {
  width: 100%;
  padding-top: 65%;
  /* same ratio picture */
  margin-bottom: 10px;
  position: relative;
  background-color: #312D3C;
}

.profile-section .frame__picture {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.profile-section .frame__name {
  font-size: 2.5rem;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.profile-section .personal-data, .profile-section .skills-container, .profile-section .language-container, .profile-section .hobbies-container {
  padding: 2% 5%;
}

.profile-section .personal-data__field {
  padding: 15px 0 10px;
  vertical-align: middle;
}

.profile-section .personal-data i {
  width: 35px;
}

.profile-section .skills-container .main-title-left, .profile-section .language-container .main-title-left, .profile-section .hobbies-container .main-title-left {
  font-size: 2.1rem;
  font-weight: 600;
  padding: 12px 0;
  margin: -5px 0 15px;
  border-bottom: 1px solid #312D3C;
}

.profile-section .skills-container .main-title-left i, .profile-section .language-container .main-title-left i, .profile-section .hobbies-container .main-title-left i {
  width: 35px;
  font-size: 2.2rem;
}

.profile-section .skills-container .skill, .profile-section .skills-container .language, .profile-section .skills-container .hobby, .profile-section .language-container .skill, .profile-section .language-container .language, .profile-section .language-container .hobby, .profile-section .hobbies-container .skill, .profile-section .hobbies-container .language, .profile-section .hobbies-container .hobby {
  padding: 10px 0;
}

.profile-section .skills-container .skill__bar, .profile-section .skills-container .language__bar, .profile-section .skills-container .hobby__bar, .profile-section .language-container .skill__bar, .profile-section .language-container .language__bar, .profile-section .language-container .hobby__bar, .profile-section .hobbies-container .skill__bar, .profile-section .hobbies-container .language__bar, .profile-section .hobbies-container .hobby__bar {
  width: 100%;
  height: 18px;
  background-color: #312D3C;
  margin-top: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 2.5px #000000;
          box-shadow: 0px 0px 5px 2.5px #000000;
}

.profile-section .skills-container .skill__bar--inside, .profile-section .skills-container .language__bar--inside, .profile-section .skills-container .hobby__bar--inside, .profile-section .language-container .skill__bar--inside, .profile-section .language-container .language__bar--inside, .profile-section .language-container .hobby__bar--inside, .profile-section .hobbies-container .skill__bar--inside, .profile-section .hobbies-container .language__bar--inside, .profile-section .hobbies-container .hobby__bar--inside {
  width: 80%;
  height: 100%;
  border-radius: 3px;
  background: linear-gradient(135deg, #FF5711, #e44079);
  -webkit-box-shadow: 0px 0px 5px 2.5px #000000;
          box-shadow: 0px 0px 5px 2.5px #000000;
  position: relative;
}

.profile-section .skills-container .skill__bar--inside div, .profile-section .skills-container .language__bar--inside div, .profile-section .skills-container .hobby__bar--inside div, .profile-section .language-container .skill__bar--inside div, .profile-section .language-container .language__bar--inside div, .profile-section .language-container .hobby__bar--inside div, .profile-section .hobbies-container .skill__bar--inside div, .profile-section .hobbies-container .language__bar--inside div, .profile-section .hobbies-container .hobby__bar--inside div {
  position: absolute;
  bottom: 27.5px;
  right: 0%;
}

.profile-section .skills-container .skill i, .profile-section .skills-container .language i, .profile-section .skills-container .hobby i, .profile-section .language-container .skill i, .profile-section .language-container .language i, .profile-section .language-container .hobby i, .profile-section .hobbies-container .skill i, .profile-section .hobbies-container .language i, .profile-section .hobbies-container .hobby i {
  width: 35px;
}

.work-section, .formation-section {
  width: 100%;
  padding: 3.5%;
  background-color: #17141D;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 2.5px #000000;
          box-shadow: 0px 0px 10px 2.5px #000000;
}

.work-section .fa-adjust, .work-section .fa-download, .formation-section .fa-adjust, .formation-section .fa-download {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 2rem;
}

.work-section .fa-download, .formation-section .fa-download {
  right: 10%;
}

.work-section .main-title-right, .formation-section .main-title-right {
  font-size: 3rem;
  font-family: 600;
}

.work-section .main-title-right i, .formation-section .main-title-right i {
  width: 50px;
  font-size: 2.5rem;
}

.work-section .work-container, .work-section .formation-container, .formation-section .work-container, .formation-section .formation-container {
  padding: 2.5% 0;
  border-bottom: 1px solid #312D3C;
}

.work-section .work-container h1, .work-section .work-container h2, .work-section .work-container p, .work-section .formation-container h1, .work-section .formation-container h2, .work-section .formation-container p, .formation-section .work-container h1, .formation-section .work-container h2, .formation-section .work-container p, .formation-section .formation-container h1, .formation-section .formation-container h2, .formation-section .formation-container p {
  display: block;
  margin: 5px 0;
}

.work-section .work-container h1, .work-section .formation-container h1, .formation-section .work-container h1, .formation-section .formation-container h1 {
  font-size: 2.0rem;
  color: #FF5711;
}

.work-section .work-container h1 i, .work-section .formation-container h1 i, .formation-section .work-container h1 i, .formation-section .formation-container h1 i {
  padding: 0 10px;
  color: #f5f5f5;
}

.work-section .work-container h2, .work-section .formation-container h2, .formation-section .work-container h2, .formation-section .formation-container h2 {
  font-size: 1.8rem;
  font-weight: normal;
  color: #11B9FF;
}

.work-section .work-container p, .work-section .formation-container p, .formation-section .work-container p, .formation-section .formation-container p {
  font-size: 1.5rem;
}

.work-section .work-container i, .work-section .formation-container i, .formation-section .work-container i, .formation-section .formation-container i {
  width: 30px;
}

.work-section .border-last, .formation-section .border-last {
  border-bottom: 0px;
}

.formation-section {
  margin-top: 2%;
}

@media all and (max-width: 650px) {
  .main-container {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-container .left-container {
    width: 97.5%;
    margin-bottom: 2%;
  }
  .main-container .right-container {
    width: 97.5%;
  }
}
/*# sourceMappingURL=style.css.map */