/* =============== COLORS =============== */

// color dark mode
$background-color: #100E17;
$primary-color: #17141D;
$accent-color: #ff621e;
$attenuate-color: #d34f7d;
$color-border: #312D3C;
$text-color: #f5f5f5;
$shadow-color: #000000;

// color light mode
// $background-color: #dddddd;
// $primary-color: #f5f5f5;
// $accent-color: #FF5711;
// $attenuate-color: #E52F6F;
// $color-border: #dadada;
// $text-color: #121212;
// $shadow-color: #b4b4b4;

/* =============== MIXINS =============== */

@mixin gradient-background {
    background: linear-gradient(135deg, $accent-color,$attenuate-color);
}

@mixin text-gradient {
    background: linear-gradient(135deg, $accent-color,$attenuate-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin flex($flow, $justify, $align) {
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align;
}

/* =============== ANIMATIONS =============== */

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    @include gradient-background;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $attenuate-color; 
}

/* =============== MAIN CODE =============== */

* {
    font-family: "Titillium Web", "Roboto";
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    &::selection {
        background-color: $color-border;
    }
    img {
        max-width: 100%;
    }
}

h1, h2 {
    font-family: "Saira Semi Condensed";
    font-weight: 500;
}

i {
    color: $accent-color;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    background-color: $background-color;
    color: $text-color;
    font-weight: normal;
    padding: 2vh;
}

.fa-calendar-alt {
    color: $attenuate-color;
}

.main-container {
    margin: auto;
    max-width: 1400px;
    @include flex(row wrap, space-around, flex-start);

    .left-container {
        width: 33.5%;
        @include flex(row wrap, flex-start, flex-start);
    }
    
    .right-container {
        width: 63.5%;
        display: flex;
        @include flex(column wrap, space-between, flex-start);
    }
}

.border-last {
    border-bottom: 1px solid $text-color;
}

.profile-section {
    width: 100%;
    // height: 100vh;
    background-color: $primary-color;
    box-shadow: 0px 0px 10px 2.5px $shadow-color;

    .frame {
        width: 100%;
        padding-top: 65%;   /* same ratio picture */
        margin-bottom: 10px;
        position: relative;
        // @include gradient-background;
        background-color: $color-border;

        &__picture {
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
        }

        &__name {
            font-size: 2.5rem;
            position: absolute;
            bottom: 5%;
            left: 5%;
        }
    }

    .personal-data, .skills-container, .language-container, .hobbies-container {
        padding: 2% 5%;
    }

    .personal-data {

        &__field {
            padding: 15px 0 10px;
            // background-color: $attenuate-color;
            vertical-align: middle;
        }
        i {
            width: 35px;
        }
    }

    .skills-container, .language-container, .hobbies-container {

        .main-title-left {
            font-size: 2.1rem;
            font-weight: 600;
            padding: 12px 0;
            margin: -5px 0 15px;
            // background-color: $attenuate-color;
            border-bottom: 1px solid $color-border;
            i {
                width: 35px;
                font-size: 2.2rem;
            }
        }

        .skill, .language, .hobby {
            padding: 10px 0;
            // background-color: $accent-color;

            &__bar {
                width: 100%;
                height: 18px;
                background-color: $background-color;
                margin-top: 10px;
                border-radius: 7.5px;

                &--inside {
                    width: 80%;
                    height: 100%;
                    border-radius: 7.5px;
                    @include gradient-background;
                }
            }
            i {
                width: 35px;
            }
        }
    }
}

.work-section, .formation-section {
    width: 100%;
    // height: 100vh;
    padding: 3.5%;
    background-color: $primary-color;
    position: relative;
    box-shadow: 0px 0px 10px 2.5px $shadow-color;

    // dark / light mode
    .fa-adjust {
        position: absolute;
        right: 5%;
        top: 5%;
        font-size: 2rem;
    }

    .main-title-right {
        font-size: 3rem;
        font-family: 600;
        i {
            width: 50px;
            font-size: 2.5rem;
        }
    }

    .work-container, .formation-container {
        padding: 2.5% 0;  
        border-bottom: 1px solid $color-border;
        h1, h2, p {
            display: block;
            margin: 5px 0;
        }
        h1 {
            font-size: 2.0rem;
            color: $accent-color;
        }
        h2 {
            font-size: 1.8rem;
            font-weight: normal;
            color: $attenuate-color;
        }
        p {
            font-size: 1.5rem;
        }
        i {
            width: 30px;
        }
    }
}

.formation-section {
    margin-top: 2%;
}